/* TIMELINE CSS */
#sms-timeline * {
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#sms-timeline li {
  list-style:none;
}
#sms-timeline ul {
  margin:0px !important;
  padding:0px;
}
#sms-timeline .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 30px;
    padding: 0 1.5rem;
}
#sms-timeline .grid {

}
#sms-timeline .unit {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    overflow: visible;
}
#sms-timeline .unit.demo {
    background-color: #fff8eb;
    height: 48px;
    height: 3rem;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
}
#sms-timeline .span-grid { width: 100%;}
#sms-timeline .one-of-two { width: 47% }
#sms-timeline .one-of-three { width: 30.36% }
#sms-timeline .two-of-three { width: 63.666666666% }
#sms-timeline .one-of-four { width: 22.05% }
#sms-timeline .three-of-four { width: 72% }
#sms-timeline .one-of-five { width: 17.07% }
#sms-timeline .two-of-five { width: 37% }
#sms-timeline .three-of-five { width: 57% }
#sms-timeline .four-of-five { width: 77% }
@media screen and (max-width: 650px) { 
    #sms-timeline .grid {
        margin-left: 0;
        max-width: none;
    }
    #sms-timeline .unit {
        width: auto;
        margin-left: 0;
        display: block;
    }
}
#sms-timeline p,
#sms-timeline .p,
#sms-timeline ul,
#sms-timeline ol,
#sms-timeline hr,
#sms-timeline table,
#sms-timeline form,
#sms-timeline pre,
#sms-timeline h1,
.alpha,
#sms-timeline h2,
.beta {
    text-align:center;
}
#sms-timeline h1,
.alpha {
    text-align:center;
}
#sms-timeline h2,
.beta {
    text-align:center;
}
#sms-timeline h3,
.gamma {
    text-align:center;
}
#sms-timeline hr {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-top: -1px;
}

#sms-timeline .unit.no-left-margin { margin-left: 0px }

#sms-timeline {
    padding: 0px 0;
    text-align: justify;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#sms-timeline ul#timeline {
list-style-type: none;
margin-top: 0px;
  height:auto;
  text-align:center;
}
#sms-timeline ul#timeline li {
width: 20%;
  margin:2%;
position: relative;
z-index: 9;
  display:inline-block;
}
#sms-timeline ul#timeline li img {
  width:100%;
  height:auto;
  border: .4rem solid;
  -webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
  opacity:.4;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
#sms-timeline ul#timeline li img:hover {
 opacity:1;
}
#sms-timeline ul#timeline li h2 {
text-align: center;
font-size: 2rem;
letter-spacing: .2rem;
margin-bottom: 10px;
}
#sms-timeline #timeline li:nth-child(even) {
  top:30px !important;
}
#sms-timeline #timeline li:nth-child(odd) {
  top:0px !important;
}
#sms-timeline .timeline-item-selected img {
  opacity:1 !important;
}
#sms-timeline ul#timeline li i {
font-size: 10px;
color: #999;
display: block;
margin-top: -8px;
}
#sms-timeline ul#timeline li:hover .timeline-circle{
-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(-5deg) !important;
    -moz-transform: rotate(-5deg) !important;
    -ms-transform: rotate(-5deg) !important;
    -o-transform: rotate(-5deg) !important;
    -ms-transform-origin: -15% 50%;
    -webkit-transform-origin: -15% 50%;
    transform-origin: -15% 50%;
    -webkit-animation: animation-name 0s infinite;
    -moz-animation: animation-name 0s infinite;
    -o-animation: animation-name 0s infinite;
    animation: animation-name 0s infinite;
    }
#sms-timeline ul#timeline li:before {
    content: "";
    color: #BD0000;
    font-weight: 600;
    font-size: 24px;
}
#sms-timeline ul#timeline li .timeline-circle {
    width: 40px;
    height: 40px;
    border: 2px solid #b3b3b3;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    border-radius: 0%;
    position: absolute;
    top: 10px;
    left: -40px;
    background: #fff;
    z-index: 9;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#sms-timeline ul#timeline li .timeline-circle .timeline-inner-circle {
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 40px;
    height: 40px;
    background: #BD0000;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    border-radius: 0%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#sms-timeline ul#timeline li:hover { cursor: pointer }
#sms-timeline ul#timeline li:hover .timeline-circle {
    width: 70px;
    height: 70px;
    top: -5px;
    left: -55px;
    -webkit-animation: animation-name 0s infinite;
    -moz-animation: animation-name 0s infinite;
    -o-animation: animation-name 0s infinite;
    animation: animation-name 0s infinite;
}
#sms-timeline ul#timeline li:hover .timeline-inner-circle {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
}
#sms-timeline ul#timeline li.timeline-item-selected { }
#sms-timeline ul#timeline li.timeline-item-selected .timeline-circle {
    -webkit-animation: animation-name 0s infinite;
    -moz-animation: animation-name 0s infinite;
    -o-animation: animation-name 0s infinite;
    animation: animation-name 0s infinite;
}
#sms-timeline ul#timeline li.timeline-item-selected .timeline-circle .timeline-inner-circle {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
}
#sms-timeline ul#timeline .timeline-underline {
    width: 810px;
    height: 2px;
    display: block;
    position: absolute;
    bottom: 42px;
    left: 0;
    background: #e6e6e6;
    z-index: 1;
}
#sms-timeline ul#timeline-descriptions {
    width: 100%;
    max-width: 610px;
    margin: 55px auto 0 auto !important;
}
#sms-timeline ul#timeline-descriptions li {
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    display:none;
    filter: alpha(opacity=0);
    position: relative;
    width: 100%;
    max-width: 610px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#sms-timeline ul#timeline-descriptions li span {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 40px;
    display: block;
}
#sms-timeline ul#timeline-descriptions li p {
text-align: center;
margin-top: 24px;
font-size: 3rem;
}
#sms-timeline ul#timeline-descriptions li img {
    display: none;
    }
#sms-timeline ul#timeline-descriptions li h2 {
    display: none;
    }
#sms-timeline ul#timeline-descriptions li.timeline-visible {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    display:block;
    filter: alpha(opacity=100);
}
#sms-timeline #timeline-prev {
height: 63px;
width: 23px;
position: absolute;
left: 120px;
top: 300px;
font-size: 6rem;
z-index: 99;
-webkit-transition: all 0.1s ease-in-out;
-moz-transition: all 0.1s ease-in-out;
-o-transition: all 0.1s ease-in-out;
-ms-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;
}
#sms-timeline #timeline-next {
height: 63px;
width: 23px;
position: absolute;
right: 120px;
top: 300px;
font-size: 6rem;
z-index: 99;
-webkit-transition: all 0.1s ease-in-out;
-moz-transition: all 0.1s ease-in-out;
-o-transition: all 0.1s ease-in-out;
-ms-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;
}
#sms-timeline #timeline-prev:hover,
#sms-timeline #timeline-next:hover {
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    -webkit-opacity: 0.9;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
#sms-timeline #timeline-prev {
    margin-left: 0px;
}
#sms-timeline #timeline-prev:hover {
    margin-left: 0px;
    cursor: pointer;
}
#sms-timeline #timeline-next {
    margin-left: 0px;
}
#sms-timeline #timeline-next:hover {
    padding-left: 0px;
    cursor: pointer;
}
@media screen and (min-width: 1000px) { 

}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) { 
    #sms-timeline ul#timeline { margin-left: 60px }
    #sms-timeline ul#timeline li {
        width: 120px !important;
        font-size: 11px !important;
    }
}
@media screen and (max-width: 900px) { 
    #sms-timeline ul#timeline li {
        width: 120px !important;
    }
}
@media screen and (max-width: 650px) { 
    #sms-timeline ul#timeline-descriptions {
        min-height: 400px;
        height: auto;
    }
    #sms-timeline ul#timeline-descriptions li {
        position: relative;
        float: left;
        -moz-opacity: 1;
        -khtml-opacity: 1;
        -webkit-opacity: 1;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}
html.ie8 #timeline { display: none }
html.ie8 ul#timeline-descriptions {
    width: 100%;
    min-height: 180px;
    max-width: 610px;
    margin: 55px auto 0 auto !important;
}
html.ie8 ul#timeline-descriptions li {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
    position: static !important;
    float: left;
    width: 100%;
    max-width: 610px;
    background: white;
}
#what-we-do.container-wrapper {
    padding: 150px 0;
    text-align: center;
}
@media screen and (max-width: 798px) { 
    #what-we-do.container-wrapper { 
        padding: 20px 0 150px 0 !important 
    }
    #what-we-do.container-wrapper h2 { 
        text-align:center; 
    }
    #sms-timeline #timeline {
        display:none;
    }
    #sms-timeline #timeline-prev {
        display:none;
        font-size: 6rem;
    }
    #sms-timeline #timeline-next {
        display:none;
        font-size: 6rem;
    }
    #sms-timeline ul#timeline-descriptions li {
        display: block;
        opacity: 1;
    }
    #sms-timeline ul#timeline-descriptions li img {
        display: block;
        text-align: center;
        width: 60%;
        height:auto;
        margin: 20px auto 10px auto;
        border: 1px #ccc solid;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        opacity:1;
        -moz-transition: all 1s;
        -webkit-transition: all 1s;
        transition: all 1s;
    }
    #sms-timeline ul#timeline-descriptions li h2 {
        display: block;
        text-align: center;
        width: 100%;
        margin: auto;
    }
}