* {
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 30px;
    padding: 0 1.5rem;
}
.grid {
    margin-left: -3%;
    max-width: 105%;
}
.unit {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    margin-left: 3%;
    margin-right: -0.25em;
    overflow: hidden;
    *overflow: visible;
}
.unit.demo {
    background-color: #fff8eb;
    height: 48px;
    height: 3rem;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
}
.span-grid { width: 97% }
.one-of-two { width: 47% }
.one-of-three { width: 30.36% }
.two-of-three { width: 63.666666666% }
.one-of-four { width: 22.05% }
.three-of-four { width: 72% }
.one-of-five { width: 17.07% }
.two-of-five { width: 37% }
.three-of-five { width: 57% }
.four-of-five { width: 77% }
@media screen and (max-width: 650px) { 
    .grid {
        margin-left: 0;
        max-width: none;
    }
    .unit {
        width: auto;
        margin-left: 0;
        display: block;
    }
}
p,
.p,
ul,
ol,
hr,
table,
form,
pre,
h1,
.alpha,
h2,
.beta {
    margin-bottom: 30px;
    margin-bottom: 1.5rem;
}
h1,
.alpha {
    font-size: 60px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
}
h2,
.beta {
    font-size: 30px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2;
}
h3,
.gamma {
    font-size: 20px;
    font-size: 1rem;
    font-weight: 700;
}
hr {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-top: -1px;
}
html { font: 125%/1.5 Helvetica Neue, Helvetica, Arial, sans-serif }
@media screen and (max-width: 650px) { 
    html { font-size: 100% }
}
@font-face{font-family:'aniversregular';src:url('http://www.perfectsmile.ca/wp-content/uploads/fonts/anivers_regular-webfont.eot');src:url('http://www.perfectsmile.ca/wp-content/uploads/fonts/anivers_regular-webfont.eot?#iefix') format('embedded-opentype'), url('http://www.perfectsmile.ca/wp-content/uploads/fonts/anivers_regular-webfont.woff') format('woff'), url('http://www.perfectsmile.ca/wp-content/uploads/fonts/anivers_regular-webfont.ttf') format('truetype'), url('http://www.perfectsmile.ca/wp-content/uploads/fonts/anivers_regular-webfont.svg#aniversregular') format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'proxima_nova_scosfsemibold';src:url('http://www.perfectsmile.ca/wp-content/uploads/fonts/mark_simonson_-_proxima_nova_scosf_semibold-webfont.eot');src:url('http://www.perfectsmile.ca/wp-content/uploads/fonts/mark_simonson_-_proxima_nova_scosf_semibold-webfont.eot?#iefix') format('embedded-opentype'), url('http://www.perfectsmile.ca/wp-content/uploads/fonts/mark_simonson_-_proxima_nova_scosf_semibold-webfont.woff') format('woff'), url('http://www.perfectsmile.ca/wp-content/uploads/fonts/mark_simonson_-_proxima_nova_scosf_semibold-webfont.ttf') format('truetype'), url('http://www.perfectsmile.ca/wp-content/uploads/fonts/mark_simonson_-_proxima_nova_scosf_semibold-webfont.svg#proxima_nova_scosfsemibold') format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'TradeGothicLTStdBoldCondensedNo.20';src:url('http://www.perfectsmile.ca/wp-content/uploads/fonts/tradegothicltstd-bdcn20.eot');src:url('http://www.perfectsmile.ca/wp-content/uploads/fonts/tradegothicltstd-bdcn20.eot') format('embedded-opentype'), url('http://www.perfectsmile.ca/wp-content/uploads/fonts/tradegothicltstd-bdcn20.woff') format('woff'), url('http://www.perfectsmile.ca/wp-content/uploads/fonts/tradegothicltstd-bdcn20.ttf') format('truetype'), url('http://www.perfectsmile.ca/wp-content/uploads/fonts/tradegothicltstd-bdcn20.svg#TradeGothicLTStdBoldCondensedNo.20') format('svg');}a{font-family:'Raleway', helvetica, arial, sans-serif;font-size:16px;color:#999;letter-spacing:1px;outline:none;border:0px !important;}a img{border:0px !important;outline:none;}a:hover{color:#BD0000;}p{font-family:'Raleway', helvetica, arial, sans-serif;font-size:16px;color:#666;letter-spacing:1px;}h1{font-family:'Raleway', helvetica, arial, sans-serif;font-weight:400;font-size:24px;text-transform:uppercase;color:#b3b3b3;letter-spacing:4px;margin-bottom:12px;}h1.h1-blue{color:#BD0000;}h1.h1-blue span{font-size:18px;}h2{font-family:'Raleway', helvetica, arial, sans-serif;font-weight:400;font-size:48px;text-transform:uppercase;color:#BD0000;line-height:135%;letter-spacing:3px;}h3{font-family:'Raleway', helvetica, arial, sans-serif;font-size:22px;font-weight:600;text-transform:lowercase;color:#999;letter-spacing:1px;}h4{font-family:'Raleway', helvetica, arial, sans-serif;font-size:24px;color:#BD0000;font-weight:400;text-transform:uppercase;line-height:34px;letter-spacing:2px;border-bottom:3px solid #e6e6e6;padding-bottom:15px;margin-bottom:30px;}ul{list-style-type:none;margin:0;padding:0;}.block-title{text-align:justify;}media_tag_2 {media_subcode:2}media_tag_3 {media_subcode:3}body.wp-admin a{font-family:inherit;font-size:inherit;color:#21759b;letter-spacing:0px;}body.wp-admin p{font-family:inherit;font-size:inherit;color:#333;letter-spacing:0px;}body.wp-admin h2{letter-spacing:0px;text-transform:capitalize;}body.wp-admin h4{font-family:sans-serif;font-size:12px;font-weight:bold;height:16px;border:none;line-height:16px;margin-bottom:3px;color:#555;letter-spacing:0px;}.le-button-wrapper{float:left;width:100%;text-align:center;}.le-button-wrapper a.le-button{display:inline-block;width:100%;max-width:480px;height:66px;padding:5px 17px 0px 32px;background-color:#f2f2f2;border:1px solid #ccc;position:relative;font-size:22px;text-transform:lowercase;color:#999;font-weight:500;line-height:26px;letter-spacing:2px;text-decoration:none;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}.le-button-wrapper a.le-button:after{content:'';height:0;position:absolute;left:100%;top:0;width:0;border-top:33px solid transparent;border-left:15px solid #f2f2f2;border-bottom:33px solid transparent;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}.le-button-wrapper a.le-button:before{content:'';height:0;position:absolute;right:-16px;top:0;width:0;border-top:33px solid transparent;border-left:15px solid #ccc;border-bottom:33px solid transparent;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}.le-button-wrapper a.le-button:hover{background:#BD0000;color:white;border-color:#707070;}.le-button-wrapper a.le-button:hover:after{border-left:15px solid #BD0000;}.le-button-wrapper a.le-button:hover:before{border-left:15px solid #707070;}media_tag_4 {media_subcode:4}.blue{color:#BD0000;}.box-shadow{-moz-box-shadow:1px 1px 2px #000;-webkit-box-shadow:1px 1px 2px #000;box-shadow:1px 1px 2px #000;}.clearfix:before,.clearfix:after,.clear:before,.clear:after{content:".";display:block;height:0;overflow:hidden;}.clearfix:after,.clear:after{clear:both;}.clearfix,.clear{zoom:1;}.floatright{float:right;}.floatleft{float:left;}@-webkit-keyframes animation-move-east { 
    0% { margin-left: 0 }
    100% { margin-left: -29% }
}
@-moz-keyframes animation-move-east { 
    0% { margin-left: 0 }
    100% { margin-left: -29% }
}
@-o-keyframes animation-move-east { 
    0% { margin-left: 0 }
    100% { margin-left: -29% }
}
@keyframes animation-move-east { 
    0% { margin-left: 0 }
    100% { margin-left: -29% }
}
@keyframes cru { 
    0% { max-width: 300px }
    50% { max-width: 320px }
    0% { max-width: 300px }
}
@-webkit-keyframes cru { 
    0% { max-width: 300px }
    50% { max-width: 320px }
    0% { max-width: 300px }
}
@keyframes wave { 
    0%,
    40%,
    100% {
        transform: translate(0,0);
        background-color: #4a72da;
    }
    10% {
        margin-top: -20px;
        background-color: red;
    }
}
@-webkit-keyframes wave { 
    50% {
        margin-top: -10px;
        background-color: #BD0000;
    }
}
@keyframes pulsate { 
    0% {
        width: 40px;
        top: 10px;
        left: -40px;
    }
    50% {
        width: 50px;
        height: 50px;
        top: 5px;
        left: -45px;
    }
    0% {
        width: 40px;
        top: 10px;
        left: -40px;
    }
}
@-webkit-keyframes pulsate { 
    0% {
        width: 40px;
        top: 10px;
        left: -40px;
    }
    50% {
        width: 50px;
        height: 50px;
        top: 5px;
        left: -45px;
    }
    0% {
        width: 40px;
        top: 10px;
        left: -40px;
    }
}
.unit.no-left-margin { margin-left: 0px }
#fourofour {
    padding-top: 145px;
    background: #f2f2f2;
}
#fourofour .unit { text-align: center }
#fourofour .unit h4 { border: 0px }
#fourofour .unit img.cru-404 {
    width: 90%;
    max-width: 300px;
    margin-bottom: 55px;
}
#fourofour .unit img.cru-404:hover {
    animation: cru 1s;
    -webkit-animation: cru 1s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
#fourofour .unit h3 { font-weight: 400 }
#what-to-expect {
    padding: 150px 0;
    text-align: justify;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#what-to-expect ul#timeline {
    list-style-type: none;
    height: 160px;
    padding: 90px 0px 0 0;
    margin-left: 130px;
    margin-top: 90px;
}
#what-to-expect ul#timeline li {
    float: left;
    width: 160px;
    padding: 10px;
    font-size: 14px;
    font-family: 'Raleway', helvetica, arial, sans-serif;
    color: #b3b3b3;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    position: relative;
    text-align: left;

    z-index: 9;
}
#what-to-expect ul#timeline li:hover .timeline-circle{
-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(-5deg) !important;
    -moz-transform: rotate(-5deg) !important;
    -ms-transform: rotate(-5deg) !important;
    -o-transform: rotate(-5deg) !important;
    -ms-transform-origin: -15% 50%;
    -webkit-transform-origin: -15% 50%;
    transform-origin: -15% 50%;
    -webkit-animation: animation-name 0s infinite;
    -moz-animation: animation-name 0s infinite;
    -o-animation: animation-name 0s infinite;
    animation: animation-name 0s infinite;
	}
#what-to-expect ul#timeline li.timeline-item-first { margin-left: 20px }
#what-to-expect ul#timeline li.timeline-item-second { margin-left: -80px }
#what-to-expect ul#timeline li.timeline-item-third { margin-left: -20px }
#what-to-expect ul#timeline li:before {
    content: "- ";
    color: #BD0000;
    font-weight: 600;
    font-size: 24px;
}
#what-to-expect ul#timeline li .timeline-circle {
    width: 40px;
    height: 40px;
    border: 2px solid #b3b3b3;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    border-radius: 0%;
    position: absolute;
    top: 10px;
    left: -40px;
    background: #fff;
    z-index: 9;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#what-to-expect ul#timeline li .timeline-circle .timeline-inner-circle {
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 40px;
    height: 40px;
    background: #BD0000;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    border-radius: 0%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#what-to-expect ul#timeline li:hover { cursor: pointer }
#what-to-expect ul#timeline li:hover .timeline-circle {
    width: 70px;
    height: 70px;
    top: -5px;
    left: -55px;
    -webkit-animation: animation-name 0s infinite;
    -moz-animation: animation-name 0s infinite;
    -o-animation: animation-name 0s infinite;
    animation: animation-name 0s infinite;
}
#what-to-expect ul#timeline li:hover .timeline-inner-circle {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
}
#what-to-expect ul#timeline li.timeline-item-selected { color: #BD0000 }
#what-to-expect ul#timeline li.timeline-item-selected .timeline-circle {
    -webkit-animation: animation-name 0s infinite;
    -moz-animation: animation-name 0s infinite;
    -o-animation: animation-name 0s infinite;
    animation: animation-name 0s infinite;
}
#what-to-expect ul#timeline li.timeline-item-selected .timeline-circle .timeline-inner-circle {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
}
#what-to-expect ul#timeline .timeline-underline {
    width: 810px;
    height: 2px;
    display: block;
    position: absolute;
    bottom: 42px;
    left: 0;
    background: #e6e6e6;
    z-index: 1;
}
#what-to-expect ul#timeline-descriptions {
    width: 100%;
    min-height: 240px;
    max-width: 610px;
    margin: 55px auto 0 auto;
}
#what-to-expect ul#timeline-descriptions li {
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    width: 100%;
    max-width: 610px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background: white;
}
#what-to-expect ul#timeline-descriptions li span {
    font-size: 24px;
    color: #BD0000;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 40px;
    display: block;
    background: url(../../themes/loelliot/images/bluebar.png) no-repeat center 50px;
}
#what-to-expect ul#timeline-descriptions li p {
    font-size: 16px;
    font-family: 'Raleway', helvetica, arial, sans-serif;
    color: #666;
    line-height: 24px;
    margin-bottom: 0px;
}
#what-to-expect ul#timeline-descriptions li.timeline-visible {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
}
#what-to-expect #timeline-prev {
    height: 63px;
	width: 23px;
	padding: 0px 20px;
	position: relative;
	left: 50%;
	top: -150px;
    z-index: 99;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#what-to-expect #timeline-next {
    height: 63px;
	width: 23px;
	padding: 0px 20px;
	position: relative;
	left: 50%;
	top: -210px;
    z-index: 99;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#what-to-expect #timeline-prev:hover,
#what-to-expect #timeline-next:hover {
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    -webkit-opacity: 0.9;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
#what-to-expect #timeline-prev {
    margin-left: -410px;
    background: url(prev.png) no-repeat center center;
}
#what-to-expect #timeline-prev:hover {
    margin-left: -420px;
    cursor: pointer;
}
#what-to-expect #timeline-next {
    margin-left: 350px;
    background: url(next.png) no-repeat center center;
}
#what-to-expect #timeline-next:hover {
    padding-left: 30px;
    cursor: pointer;
}
@media screen and (min-width: 1000px) { 
    #what-to-expect ul#timeline { width: 1000px }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) { 
    #what-to-expect ul#timeline { margin-left: 60px }
    #what-to-expect ul#timeline li {
        width: 120px !important;
        font-size: 11px !important;
    }
    #what-to-expect ul#timeline.timeline-item-first { margin-left: 10px }
    #what-to-expect ul#timeline.timeline-item-second { margin-left: -50px }
    #what-to-expect ul#timeline.timeline-item-third { margin-left: -10px }
}
@media screen and (max-width: 900px) { 
    #what-to-expect ul#timeline li {
        width: 120px !important;
        font-size: 11px !important;
    }
    #what-to-expect ul#timeline.timeline-item-first { margin-left: 10px }
    #what-to-expect ul#timeline.timeline-item-second { margin-left: -50px }
    #what-to-expect ul#timeline.timeline-item-third { margin-left: -10px }
}
@media screen and (max-width: 650px) { 
    #what-to-expect ul#timeline-descriptions {
        min-height: 400px;
        height: auto;
    }
    #what-to-expect ul#timeline-descriptions li {
        position: relative;
        float: left;
        -moz-opacity: 1;
        -khtml-opacity: 1;
        -webkit-opacity: 1;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}
html.ie8 #timeline { display: none }
html.ie8 ul#timeline-descriptions {
    width: 100%;
    min-height: 180px;
    max-width: 610px;
    margin: 55px auto 0 auto;
}
html.ie8 ul#timeline-descriptions li {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
    position: static !important;
    float: left;
    width: 100%;
    max-width: 610px;
    background: white;
}
#what-we-do.container-wrapper {
    padding: 150px 0;
    text-align: center;
}
@media screen and (max-width: 650px) { 
    #what-we-do.container-wrapper { padding: 20px 0 150px 0 !important }
    #what-we-do.container-wrapper h2 { font-size: 18px }
}
